playwright
playwright-stealth
httpx[socks]
requests
openai
ttkbootstrap
beautifulsoup4
pandas
openpyxl
google-generativeai
pydantic
python-dotenv
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
